### Day 4:

## Dictionaries
**1.In the list the values are indexed by the range of the numbers**

**2.But in case of dictionaries values are indexed by the 'keys'**

Dictionaries are unordered mapping for the storing objects.Previously we saw the lists how they are sequencially ordered.

** Here dictionaries use a key-value pair

Key-value pair is called **item**

##### Imp points:
1.The  key of the dictionary  cannot be changed.

2.A string,int or float can be used as key.

3.Keys are unique.

4.keys can be immutable but value can be mutable.

5.Values can be anything like int,string,list so on..

6.Values can be repeated.

##### Difference between the dictionaries and list


##### Dictionary: Objects retrieved by key name ,unordered and cannot be ordered (keyname is important).
##### List: Objects are retrieved by location,ordered sequence it can be indexed or slicing.

#### Note: Dictionaries are mutable (changes)

##### syntax:

In [2]:
d={'key1':'value','key2':'value2'}

###### Accessing the values of the dictionary

In [3]:
fruit={'apple':50,'orange':40,'banana':30}
fruit['apple']

50

In [4]:
fruit['pappaya']=25          # add new key to the dictionary

In [10]:
fruit

{'orange': 40, 'banana': 30, 'pappaya': 25}

In [12]:
del fruit['banana']# del the particular key-value pair

In [13]:
fruit

{'orange': 40, 'pappaya': 25}

###### Updating the value of the dictionary

In [16]:
runs={'kohli':39,'dhoni':59,'yuvi':89}
runs['yuvi']=100                         # updating the value of dictionary but not key

In [17]:
runs

{'kohli': 39, 'dhoni': 59, 'yuvi': 100}

### Dictionary functions

##### len()

In [18]:
runs={'kohli':39,'dhoni':59,'yuvi':89}

In [19]:
len(runs)

3

##### str()

In [20]:
runs={'kohli':39,'dhoni':59,'yuvi':89}
str(runs)                               # observe here with double quotes of the dictionary

"{'kohli': 39, 'dhoni': 59, 'yuvi': 89}"

##### max()

In [23]:
dict1 = {1:"abc",5:"hj", 43:"Dhoni", 45:"game", 67:'manju'}
max(dict1)                        # we get the maximum value of the key

67

##### min()

In [24]:
dict1 = {1:"abc",5:"hj", 43:"Dhoni", 45:"game", 67:'manju'}
min(dict1)                       # we get the minimum value of the key which is 1

1

#### How can we convert the list or tuple into dictionary

In [25]:
# syntax: dict(list or tup)
port = [[80,"http"],[20,"ftp"],[23,"telnet"],[443,"https"],[53,"DNS"]]
dict(port)

{80: 'http', 20: 'ftp', 23: 'telnet', 443: 'https', 53: 'DNS'}

###### Alternatively for the tuple

In [26]:
port1 = [(80,"http"),(20,"ftp"),(23,"telnet"),(443,"https"),(53,"DNS")]
dict(port1)

{80: 'http', 20: 'ftp', 23: 'telnet', 443: 'https', 53: 'DNS'}

### Dictionary methods

##### Copy()

In [27]:
dict1 = {1:"abc",5:"hj", 43:"Dhoni", 45:"game", 67:'manju'}
dict2=dict1.copy()           # observe here key value in the dict1 is copied into the dict2

In [28]:
dict2

{1: 'abc', 5: 'hj', 43: 'Dhoni', 45: 'game', 67: 'manju'}

In [29]:
dict1

{1: 'abc', 5: 'hj', 43: 'Dhoni', 45: 'game', 67: 'manju'}

In [30]:
dict2

{1: 'abc', 5: 'hj', 43: 'Dhoni', 45: 'game', 67: 'manju'}

In [38]:
id(dict1)

1465647960696

In [39]:
id(dict2)           # observe here with copy method address is varies

1465647961176

##### Using the assignment operator

In [33]:
A1={'kohli':39,'dhoni':59,'yuvi':89}
A2=A1                                # observe here A1 values are copied into the A2

In [34]:
A2

{'kohli': 39, 'dhoni': 59, 'yuvi': 89}

In [35]:
A1

{'kohli': 39, 'dhoni': 59, 'yuvi': 89}

In [41]:
C1=A1.copy()
C1

{'kohli': 39, 'dhoni': 59, 'yuvi': 89}

###### observe the memory address

In [36]:
id(A1)

1465647978520

In [37]:
id(A2)                # observe here memory address of the A1 and A2 are same

1465647978520

In [42]:
id(C1)                 # differnt memory address

1465647307016

##### Important note

In [43]:
A1={'kohli':39,'dhoni':59,'yuvi':89}
A1['rohit']=98

In [44]:
A1

{'kohli': 39, 'dhoni': 59, 'yuvi': 89, 'rohit': 98}

In [50]:
A2

{'kohli': 39, 'dhoni': 59, 'yuvi': 89, 'rohit': 98}

In [51]:
C1

{'kohli': 39, 'dhoni': 59, 'yuvi': 89}

###### Observe the A1 ,A2  and C1  dictionaries

#### get()

In [52]:
# syntax: dict.get(key, default=None)
A1 = {'iron-man': 'Tony', 'CA': 'Steve', 'BW': 'Natasha', 'hulk':'bruce'}
A1.get('iron-man','not found')            # key is present so it return the value of that key

'Tony'

In [55]:
A1.get('manju','not found')               # observe here key is absent so it return the not found

'not found'

In [57]:
A1.get('raj')            # observe here differnce between this cell and above cell

In [63]:
A1

{'iron-man': 'Tony', 'CA': 'Steve', 'BW': 'Natasha', 'hulk': 'bruce'}

#### setdefault()

In [58]:
# syntax:  dict.setdefault(key1, default=None)
port1={80: 'http', 22: 'SSH', 23: 'Telnet'}
port1.setdefault(23,'unknown')            # observe here key is present so returns its value

'Telnet'

In [60]:
port1.setdefault(19, "Unknown")           # observe here key is not present so it returns the unknown as output

'Unknown'

In [61]:
port1.setdefault(19)

'Unknown'

In [62]:
port1                     # observe here it add the 19 as key and unknown as value

{80: 'http', 22: 'SSH', 23: 'Telnet', 19: 'Unknown'}

##### keys()

In [70]:
# syntax: dict.keys()           # It returns only key values
port1={80: 'http', 22: 'SSH', 23: 'Telnet'}
port1.keys()

dict_keys([80, 22, 23])

##### values()

In [72]:
port1.values()

dict_values(['http', 'SSH', 'Telnet'])

###### If we need to add the one dictionary to the another dictionary

In [75]:
port1={80: 'http', 22: 'SSH', 23: 'Telnet'}
port2={39:'www',34:'nab'}
port1.update(port2)             # here observe port2 dictionary updated into the port1 dictionary

In [74]:
port1

{80: 'http', 22: 'SSH', 23: 'Telnet', 39: 'www', 34: 'nab'}

In [76]:
port2

{39: 'www', 34: 'nab'}

In [77]:
port1

{80: 'http', 22: 'SSH', 23: 'Telnet', 39: 'www', 34: 'nab'}

##### items()

In [78]:
port1.items()

dict_items([(80, 'http'), (22, 'SSH'), (23, 'Telnet'), (39, 'www'), (34, 'nab')])

##### Clear()

In [80]:
port1.clear()

In [81]:
port1

{}