### Day3:

### Lists:

 1 Lists are ordered sequences of that can hold the variety of object types.
 
 2 They use [] brackets and (,)commas to separate the objects in the list.
      ex:[1,2,3,4]
        
 3 List support the indexing and slicing.

#### Characterstics of the python list

**(a).Values are ordered

  (b).Mutable
  
  (c).A list can hold any number of values
  
  (d).A list can add, remove, and alter the values**

##### Creating the empty list

In [1]:
x=[]

##### List with values

In [2]:
my_list=[1,2,3]

In [3]:
my_list=["string",2,32.22]

In [4]:
my_list[0]

'string'

In [5]:
len(my_list)

3

##### Unpacking list values

In [6]:
a,b=[1,2]

In [7]:
a

1

In [8]:
b

2

In [9]:
a,b=[1,2,4]

ValueError: too many values to unpack (expected 2)

##### Slicing the list

In [10]:
my_list

['string', 2, 32.22]

In [11]:
my_list[1:]

[2, 32.22]

##### Updating the list

**Since the list are mutable we can update the values very easily

In [12]:
my_list=['one','two','three']
anoth_list=['four','five']
newlist=my_list+anoth_list

In [13]:
newlist

['one', 'two', 'three', 'four', 'five']

In [14]:
newlist[0]="six"

In [16]:
newlist        # observe here the value at index 0 is updated with the six

['six', 'two', 'three', 'four', 'five']

In [17]:
del newlist[0]      # deletion of the index 0 element

In [18]:
newlist

['two', 'three', 'four', 'five']

In [19]:
Av = ['Vision', 'sam']
new=Av*2

In [20]:
new                  # note memory address for vision in index 0 and 2 are same

['Vision', 'sam', 'Vision', 'sam']

#### Tip: Difference between the strings and lists are in lists there is possible in change of variable but in the strings not possible

#### List functions

**Len()

  max()
  
  sorted()
  
  list[]

In [21]:
newlist

['two', 'three', 'four', 'five']

In [22]:
len(newlist)          # 1.function of len()

4

In [29]:
list1 = [1, 2, 3, 4,510,510.0]
max(list1)            # 2. function of max()

510

In [28]:
list1 = [1, 2, 3, 4,510.0, 510]
max(list1)                       # observe the difference between the above and this cell

510.0

**Note: Generally if we have the strings in the list we first give prefer to the strings than float and int

##### Note: Similiarly for the min() function also same procedure and we can get the minimum value

### list( )

**You can easily convert a tuple into a list by using the list () function.

In [34]:
tup1=("a","b","c","d")
list(tup1)               # how the tup is converted into the list

['a', 'b', 'c', 'd']

In [35]:
name='Manju nath'
list(name)

['M', 'a', 'n', 'j', 'u', ' ', 'n', 'a', 't', 'h']

##### sorted()
**syntax:  sorted (iterable, cmp, key, reverse)

In [36]:
list1 = [2, 3, 0, 3, 1, 4, 7, 1]
sorted (list1)

[0, 1, 1, 2, 3, 3, 4, 7]

In [37]:
list1

[2, 3, 0, 3, 1, 4, 7, 1]

In [41]:
new_list1=['a','v','d','g','z']
new_list1.sort()

In [42]:
new_list1

['a', 'd', 'g', 'v', 'z']

#### Note: observe the below cell if you try to write the code then we can get the error

In [43]:
new_list1

['a', 'd', 'g', 'v', 'z']

In [45]:
my_list1=new_list1.sort()

In [48]:
my_list1         # observe we cannot get the output here be careful

##### TO get the sorted list values

In [52]:
new_list1=['a','v','d','g','z']
new_list1.sort()

In [53]:
my_list1=new_list1

In [54]:
my_list1

['a', 'd', 'g', 'v', 'z']

In [55]:
tup1 = (2, 3, 0, 3, 1, 4, 7, 1)  # passed the tuple elements
sorted(tup1)

[0, 1, 1, 2, 3, 3, 4, 7]

In [56]:
tup1

(2, 3, 0, 3, 1, 4, 7, 1)

### List methods

**Append()

  extend()
  
  pop()
  
  count()
  
  index()
  
  remove()
  
  reverse()

In [2]:
newlist1=['one','two','three','four','five','six']
newlist1.append('seven')

In [3]:
newlist1

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

##### Let me tell you the important thing in the extend() suppose if you want to add the two lists we get the value which is permanently stores into one of the list .I will demonstrate with example so that it is easy for us.

In [4]:
x=[1,2,3,4,5]
y=[6,7,8,9]
x.extend(y)

In [5]:
x     # here the y values are completely stores into x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
y

[6, 7, 8, 9]

In [7]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
my_list=['manju','laddu']
name='bujji'
my_list.extend(name)

In [9]:
my_list

['manju', 'laddu', 'b', 'u', 'j', 'j', 'i']

##### DIfference between the append and extend

In [14]:
x=[1,2,3,4,5]
y=[6,7,8,9]
x.extend(y)

In [11]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
x=[1,2,3,4,5]
y=[6,7,8,9]
x.append(y)

In [13]:
x          # observe here values can be list inside the anotherlist

[1, 2, 3, 4, 5, [6, 7, 8, 9]]

##### Count()

In [15]:
# Syntax:  list1.count (item)
list1 = ["a","c","b","c","a","h","l", 1, 2, 3, 4,"1"]
list1.count("a")

2

In [16]:
list1.count(1)

1

##### Index()

In [18]:
# syntax: list.index(item)
OS = ['kali', 'Ubuntu', 'debian', 'RHEL', 'Centos']
OS.index("RHEL")

3

**If an item occurs two times, then the index method returns the index of the first occurrence**

##### INSERT()

In [19]:
# syntax: list1.insert (index1, item)
A=["manju","laddu"]
A.insert(0,"bujji")

In [20]:
A

['bujji', 'manju', 'laddu']

##### remove()

In [21]:
A=["manju","laddu","manjunath"]
A.remove("laddu")

In [22]:
A

['manju', 'manjunath']

##### Pop()

In [23]:
newlist1=['one','two','three','four']
newlist1.pop()

'four'

In [24]:
newlist1

['one', 'two', 'three']

In [25]:
newlist1.pop(2)

'three'

In [26]:
newlist1

['one', 'two']

##### newlist1.pop()==newlist1.pop(-1) as default case

##### sort in a reverse order

In [27]:
new=[1,2,4,5,6,2,4,6,9]
new.sort(reverse=True)

In [28]:
new

[9, 6, 6, 5, 4, 4, 2, 2, 1]

##### reverse()

In [32]:
list1=['manju','laddu','manjunath']
list1.reverse()

In [33]:
list1

['manjunath', 'laddu', 'manju']