## Day 1:

**In this section we are going to discuss the BASIC DATATYPES of python

In [4]:
#       NAME                       Indication                DESCRIPTION
    
#1.  Integers                      int                       Whole numbers                        :  2,100,15
#2.  Floating point                float                     Number having decimal point          :  2,100.0,20.5
#3.  Strings                       str                       Ordered sequence of characters       :  "Hello",'Manju'
#4.  Lists                         list                      Ordered sequence of objects          :  [10,"Jen",20.5]
#5.  Dictionaries                  dict                      Unordered key:value pair             :  {"man":"woman"}
#6.  Tuples                        tup                       Immutable sequence                   :  (10,"jen",292.3)
#7.  Boolean                       bool                      Logical value                        :  True or False
#8.  Sets                          set                       Unordered collection of unique ele   :  ("a","b") #

### Numbers
#### (a).Addition

### Arithmetic expressions
           **          exponent
           *           multiplicatioin
           /           Division
           %           Modulus
           +           Addition
           -           Subtraction
           //          Floor division

##### Numbers are one type of objects in python 

Generally python is two types of numeric types
1. Integers
2. Floating point

In [13]:
# Addition
2+1

3

In [12]:
# int + int =int
2+5

7

In [13]:
# int + float= float
2+2.0

4.0

#### (b).Subtraction

In [14]:
# int - int =int
5-2

3

In [15]:
2-5

-3

In [14]:
# float-int =float
5.2-2

3.2

In [17]:
# int - float =float
2-2.0

0.0

In [18]:
type(0.0)

float

#### (c).Multiplication

In [1]:
# int * int = int
5*2

10

In [2]:
# int * float = float
2*2.0

4.0

#### (d). Division

In [3]:
# int / int=float
7/3

2.3333333333333335

In [4]:
# int //int =int
7//3

2

In [6]:
# float / int=float
7.2/3

2.4

In [7]:
# float //int = float
7.0//3

2.0

In [9]:
# flaot //float=float
7.0//3.0

2.0

##### Mod operator

In [10]:
# int % int=int
7%3

1

**Generally we cannot use the floating point in the mod operations**

In [16]:
6//7

0

In [18]:
5*2

10

In [19]:
_*2

20

 _ indicates the previous value of result

## Variable assignment

### Rules for the variable assignment:

#### Ex: my_value=4

1.Name cannot start with a number 

2.Name cannot have the whitespaces in between them except the _

3.Name cannot have the special characters like @,#,&,:,*,....

4.Name should start with lowercase 

5.Name cannot have the keywords like "str" and "list"...

######################################

Python is **Dynamic typing ** 

Let me show you the proof how it was dynamic typing

In [22]:
my_value=2

In [23]:
my_value

2

In [24]:
my_value=4

In [26]:
my_value        # Now the value for the my_value is 4 previously it was 2

4

**Note: int range from -2 power(31) to 2 power(31)-1

       float range is from 10 to 10 power(38)