## Day2:

### Strings:

Strings are continuous sequence of characters and it has surrounded with single or double quotes

Ex: "Manju"

    'Manju'
    
1.Strings are ordered sequence it means we can using indexing and slicing to grab the subsections of the string.

2.We can also use the indexing to grab the particular character of the string and we denote the symbol for index is [].

3.Indexing always start with 0 postion

    character    :     h   e  l   l  o

     index       :     0   1  2   3  4
     
    Reverse index :     0  -4 -3  -2 -1

#### (a). Slicing

Slicing allows you to grab the subsections of the multiple strings

syntax:
        [start:stop:step]
        
        s[1:6:2]
        
        
    where
    start: It denotes the numerical index for the slice to start
    stop : It denotes the numerical index for up to (last value not included) 
    step : It denotes the size of the jump to take

In [1]:
"hello"

'hello'

In [3]:
'hello'    # observe the difference between In[1] and In[2] and output also

'hello'

If you have ever faced problem  like which is to be used single or double quote in strings then we come up solution for that and make you clear in that .

In [4]:
'I'm good boy'

SyntaxError: invalid syntax (<ipython-input-4-13989aaef8e5>, line 1)

In [5]:
"I'm good boy"

"I'm good boy"

This is what i showed the difference between the  single and double quotes which is to be used So My suggestion to all the learners try to use the double quotes.

In [16]:
"hello\n"

'hello\n'

In [6]:
"hello world"
"How are you"

'How are you'

In [7]:
print("Hello world")
print("How are you")

Hello world
How are you

In [8]:
print("Hello world \nHow are you")

Hello world
How are you

In [10]:
print("Hello\tworld")

Hello	world

In [11]:
len("hello")

5

In [13]:
len("I am")

4

In [15]:
len("Hello\n")

6

#### String slicing and indexing

      mystring =  ' a   b    c   d   e   f   g   h   i   j   k'
       index   =    0   1    2   3   4   5   6   7   8   9  10
       revese  =    0 -10   -9  -8  -7  -6  -5  -4  -3  -2  -1

In [18]:
mystring

'abcdefghijk'

In [19]:
mystring[0]  # To grab the first character of the string

'a'

In [20]:
mystring[3]

'd'

In [21]:
mystring[10]

'k'

In [22]:
mystring[-1]   # To grab the last character we done it in two ways

'k'

##### Slicing

In [27]:
mystring[:]   # This indicates emptyspaces start with 0 and end with last value

'abcdefghijk'

In [25]:
mystring[1:4]  # Here observe the 1 denotes the starting value and 4 indicates the last value(4 is not included)

'bcd'

In [26]:
mystring[:5]

'abcde'

In [28]:
mystring[2:]

'cdefghijk'

In [29]:
mystring[3:6]

'def'

In [37]:
mystring[:-5]        # here observe negative index start with a go upto -5 but not include -5 value  0,-10,-9,-8....

'abcdef'

In [39]:
mystring[-9:]        # start with -9 i.e.,c end with k

'cdefghijk'

In [40]:
mystring[-8:-4]

'defg'

##### Stepsize

In [30]:
mystring[::]

'abcdefghijk'

In [32]:
mystring[::2]   # here 2 indicates the stepsize with starting with a jump step size of 2

'acegik'

In [33]:
mystring[::3]

'adgj'

In [43]:
mystring[::-1]   # This is what we know popularly reverse a string here with a single line of code

'kjihgfedcba'

In [45]:
mystring[::-2]    # Reverse a string with stepsize of 2

'kigeca'

In [46]:
mystring[2:7:3]

'cf'

#### String properties and methods:

Strings are immutable that means cannot change the strings once we created

##### Immutability

In [68]:
mystring="Manju"

In [49]:
# mystring[0]='S'   # here iam trying to replace the character in place of 0 as "S"

TypeError: 'str' object does not support item assignment

In [69]:
mystring

'Manju'

In [70]:
lastletters=mystring[1:]

In [71]:
lastletters

'anju'

In [72]:
newstring='S'+lastletters

In [73]:
newstring        # This is how we can do the cancatenation of the strings

'Sanju'

In [74]:
letter='a'

In [76]:
letter*10      # To get the ten a's

'aaaaaaaaaa'

In [77]:
x="Hello world"

In [83]:
x=x+" How are you"      # here we run the line 3 times

In [84]:
x

'Hello worldHow are you How are you How are you How are you'

Python is flexible in nature here we can demonstrate with an example

In [85]:
2+3                   # it is addition operation with two integers

5

In [87]:
'2'+'3'         # observe the difference in above cells to know the difference here it is cancatenated with two strings

'23'

In [90]:
x="Hello World"
x.upper()         # 1.It make all the characters as capital letters

'HELLO WORLD'

In [91]:
x.lower()      #2. It make all the characters as lowercase

'hello world'

In [93]:
x.capitalize()       #3. Here it make only first character as capitalize

'Hello world'

In [95]:
x="Iam doing work"
x.split()                    #4. It default take the whitespaces as split

['Iam', 'doing', 'work']

In [97]:
x.split('o')     # If we need to split at particular character use like this

['Iam d', 'ing w', 'rk']

In [8]:
str1 = "27-12-2016"
str1.split("-",1)

['27', '12-2016']

In [4]:
x="hello manju how are you"
x.title()         # 5.here observe that title makes the every first character make a capitalize

'Hello Manju How Are You'

In [5]:
x.find("h") #6. here to find the value of "h" so start at index 0 and also we have two "h" s but we can get only 1st occurance

0

In [6]:
x.rfind("h")    # 7. This method tells the if we want to find the value the "h" from right side

12

In [7]:
x.count("h")      # 8. This count the number of characters in given string

2

In [9]:
str1 = "time is great and time is money"
str1.replace("is","was")                      # 9.This replaces the old with the new value

'time was great and time was money'

In [10]:
 str1.replace("is","was",1)                   # 10. If we have the two substrings we need only one that time it is useful

'time was great and time is money'

In [12]:
name = ["Mohit","raj"]
" ".join(name)                               # 11. from list to the string output

'Mohit raj'

In [13]:
 "".join(name)

'Mohitraj'

### String Boolean methods

In [15]:
# str1.endswith(sub-string, begin,end)   syntax
str1 = "Life should be great rather than long"
str1.endswith("ng")

True

In [16]:
 str1.startswith("Li")

True

In [17]:
   # 2.  syntax: Str1.isalpha()   The method returns True only if string str1 contains letters alone.
str1 = "Hello"
str1.isalpha()

True

In [20]:
str2 = "Hello 123"
str1.isalpha()

True

In [21]:
# 3.syntax:  str1.isalnum()  if the string contains only alphanumeric characters
str2 = "Hello123#"
str2.isalnum()

False

In [22]:
str1 = "Hello123"
str1.isalnum()

True

### String interpolation

There are multiple ways to format strings for printing variables in them.This is known as string interpolation

Let's explore the two methods for this 

1 .format() method

2 f-strings(formatted string literals)

**syntax: string here {} then also {}'.format('something1','something2')**

In [99]:
print("This is string {}".format('Insert'))

This is string Insert

In [100]:
print("The {} {} {}".format('fox','brown','quick'))

The fox brown quick

In [101]:
print("The {0} {0} {0}".format('fox','brown','quick'))     # here 0 means it is like index fox=0,brown=1,quick=2

The fox fox fox

In [102]:
print("The {2} {1} {0}".format('fox','brown','quick'))

The quick brown fox

In [103]:
print("The {q} {b} {f}".format(f='fox',b='brown',q='quick'))

The quick brown fox

##### floating formating follows  :  "{value :width.precision f}"

In [104]:
result=100/777

In [105]:
result

0.1287001287001287

In [106]:
print("The result is {r}".format(r=result))

The result is 0.1287001287001287

In [107]:
print("The result is {r:1.3f}".format(r=result))

The result is 0.129

In [108]:
print("The result is {r:10.3f}".format(r=result))               # observe the value 10 here space is more

The result is      0.129

#### f-string literals

In [109]:
print(f'THis is pretty good to see')

THis is pretty good to see

In [110]:
name="Manju"
age=21

In [112]:
print(f"{name} is {age} years old.")

Manju is 21 years old.