## Day 5:

### Tuples:

**Tuples are similiar to the lists but only the difference is the immutability. Tuples having the immutability property but for
the list it's having mutability property.**

**In the immutability once the element is inside the tuple,it's cannot be reassigned.**

##### Creating the empty tuple

In [1]:
tup1=()

##### To print the single object tuple

In [2]:
c=(2,)
type(c)

tuple

In [5]:
c=2,
type(c)

tuple

In [4]:
c=(2)
type(c)       # observe the difference between the above and present cell

int

##### Creating the tuple with elements

In [6]:
tup1 = (1,2,3,4.6, "hello", "a")
tup1[4]

'hello'

##### Slicing

In [7]:
tup1[:3]

(1, 2, 3)

In [11]:
tup1[-2:-1]

('hello',)

In [13]:
tup1 = (1,2,3,4.6, "hello", "a")
len(tup1)                         # length of the tuple

6

In [14]:
tup1.count(1)

1

##### Difference between the tuple and list

In [17]:
x=[1,2,3]
x[0]='new'
x

['new', 2, 3]

In [18]:
x=(1,2,3)
x[0]='new'
x         # it shows the error which is immutability property

TypeError: 'tuple' object does not support item assignment

#### There are generally two types of operations in tuple

##### (a) . Pack tuple
##### (b). Unpack tuple

##### Pack tuple

In [15]:
x=12.32
y=23.34
coordinate=(x,y)

In [16]:
type(coordinate)

tuple

##### Unpacking tuple

In [19]:
tup1=(1,2,3)
a,b,c=tup1
a

1

In [20]:
b

2

In [21]:
c

3

In [23]:
tup1=(5,6)
a,b,c=tup1            # observe the difference between the above and present cell
a

ValueError: not enough values to unpack (expected 3, got 2)

### Tuple functions

##### len()

In [24]:
tup1 = (1,2,3,4.6, "hello", "a")
len(tup1)

6

##### max()

In [25]:
tup1 = (1,2,3,321,321.0)
max(tup1)

321

In [26]:
tup1 = (1,2,3,321.0,321)
max(tup1)                # observe the differnce between the above and present cell

321.0

##### Note: if we have string and integer it gives first preference to the string only

In [27]:
tup2 = ('aa', 'z', "az", "za")
max(tup2)

'za'

##### Similiarly for the min function also same as above with min function

##### del()

In [28]:
tup1=(1,2,3)
del tup1[0]

TypeError: 'tuple' object doesn't support item deletion

In [29]:
del tup1

In [30]:
tup1

NameError: name 'tup1' is not defined

### Tuple operations

#####  Use + operator to cancatenate

In [31]:
t=(1,2)
t+(3,4,5)

(1, 2, 3, 4, 5)

##### Multiplication

In [32]:
t=(1,2)
t=t*2

In [33]:
t

(1, 2, 1, 2)

In [34]:
id(t[0])

140725537055120

In [36]:
id(t[2])     # id for the above and present cell is same i.e., index 0 and 2

140725537055120

## Sets

**1.Sets are unordered collections of unique elements.

**2.Meaning there can be only one representative of the same object

In [37]:
myset=set()

In [38]:
myset

set()

In [39]:
myset.add(1)

In [40]:
myset

{1}

In [41]:
myset.add(2)

In [42]:
myset

{1, 2}

In [43]:
myset.add(1)

In [44]:
myset

{1, 2}

In [47]:
mys1=[1,2,3,1,1,3,3,1,2,1]
set(mys1)                      # display the unique elements in the list

{1, 2, 3}

In [49]:
set("parllel")            # unique with sorted order

{'a', 'e', 'l', 'p', 'r'}

## Boolean

**1.Boolean are operators that allow you to convey the True or False elements.

**These are very important later on when deal with control flow and logic.

In [50]:
True

True

In [51]:
False

False

In [53]:
true            # it is not a keyword

NameError: name 'true' is not defined

In [54]:
1>2

False

In [55]:
1==1

True

In [56]:
b=None

In [57]:
b